<div class="container px-8 px-sm-12-mx-auto">
  <div class="row">

   <div class="col">
     <h5 class="bg-secondary d-inline p-2">
      管理者ログイン
     </h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-6 offset-md-3">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Primary</button>

      <div class="actions">
        <%= f.submit "Log in",class:"btn btn-success" %>
      </div>
    <% end %>

   </div>

  </div>
</div>


