<div class="container px-8 px-sm-12">
  <div class="row">
    <div class="col">
      <h4 class="bg-secondary d-inline px2"><%= @customer.name %>さんの会員詳細</h4>
    </div>
    <div class="row">
      <div class="col">
        <h4>会員ID</h4>
        <p><%= @customer.id %></p>
        <h4>氏名</h4>
        <p><%= @customer.first_name %><%= @customer.last_name %></p>
        <h4>郵便番号</h4>
        <p><%= @customer.postal_code %></p>
        <h4>住所</h4>
        <p><%= @customer.address %></p>
        <h4>電話番号</h4>
        <p><%= @customer.telephone_number %></p>
        <h4>メールアドレス</h4>
        <p><%= @customer.email %></p>
        <h4>会員ステータス</h4>
        <% if @customer.is_active == true %>
          <p>有効</p>
        <% else %>
          <p>退会</p>
        <% end %>
        <table>
          <tr>
            <td>
              <%= link_to edit_admin_customer_path(@customer.id) do %>
                <button type="button" class="btn btn-success">編集する</button>
              <% end %>
            </td>
            <td></td>
            <td>
              <%= link_to root_path do %>
                <button type="button" class="btn btn-primary">注文履歴一覧を見る</button>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>