<main>
  <div class="container px-5 px-sm-0 mx-auto">
    <div class="row">
      <h4 class="bg-secondary d-inline px2">注文履歴詳細</h4>
      <div class="col">
        <h5>購入者</h5>
        <p><%= @customer.first_name + @customer.last_name %></p>
        <h5>注文日</h5>
        <p><%= @order.created_at %></p>
        <h5>配送先</h5>
        <p><%= @order.addresses %></p>
        <h5>支払方法</h5>
        <p><%= @order.payment_method %></p>
        <h5>注文ステータス</h5>
        <%= form_with model:@order, url:admin_order_path, method: :patch, local:true do |f| %>
        <p>
          <%= f.select :order_active, Order.order_actives_i18n.invert %>
          <%= f.submit "更新", class:"btn btn-success" %>
        </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">商品名</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">数量</th>
              <th scope="col">小計</th>
              <th scope="col">製作ステータス</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each do |d| %>
            <tr>
              <td><%= d.item.name %></td>
              <td><%= d.item.price_add_tax %></td>
              <td><%= d.amount %></td>
              <td><%= d.price * d.amount %></td>
              <%= form_with model: d, url: admin_orders_detail_path, method: :patch, local: true do |f| %>
              <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %></td>
              <td><%= f.submit "更新", class:"btn btn-success" %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h5>商品合計</h5>
        <p><%= @order.billing_amount - @order.postage %></p>
        <h5>送料</h5>
        <p><%= @order.postage %></p>
        <h5>請求額合計</h5>
        <p><%= @order.billing_amount %></p>
      </div>
    </div>
  </div>
</main>