<div class="container px-8 px-sm-12">
  <div class="row">
   <div class="col">
     <h5 class="bg-secondary d-inline p-2">
       ジャンル一覧・追加
     </h5>
     <%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
      <a>ジャンル名</a>
      <%= f.text_field :name %>
      <%= f.submit "新規登録", class:"btn btn-success" %>
     <% end %>
    </div>
  </div>
</div>

<div class="container px-8 px-sm-12">
  <div class="row">
    <div class="col">
      <% @genres.each do |genre| %>
      <table class="table">
       <thead>
         <tr>
           <th scope="col">ジャンル</th>
           <th scope="col"></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= genre.name %></td>
           <td>
             <%= link_to edit_admin_genre_path(genre.id) do %>
               <button type="button" class="btn btn-success">編集する</button>
             <% end %>
           </td>
         </tr>
       </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
