<div class="cocntainer px-8 px-sm-12 mx-auto">
  <div class="row">
    <div class="col">
      <h5 class="bg-secondary d-inline px2">注文履歴一覧</h5>
      <table class="table">
        <thead>
         <tr>
          <th scope="col">購入日時</th>
          <th scope="col">購入者</th>
          <th scope="col">注文個数</th>
          <th scope="col">注文ステータス</th>
         </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
        <% quantity = 0 %>
        <% order.order_details.each do |order_detail| %>
        <% quantity += order_detail.amount %>
        <% end %>
          <tr>
            <td>
              <%= link_to admin_order_path(order.id) do %>
                <%= order.created_at %>
              <% end %>
            </td>
            <td><%= order.name %></td>
            <td>
                <%= quantity %>
            </td>
            <td><%= order.order_active %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>