<div class="container px-8 px-sm-12 mx-auto">
  <div class="row">
    <div class="col">
      <h4 class="bg-secondary d-inline p-2">
        ショッピングカート
      </h4>
      <%= link_to "カートを空にする", all_destroy_path, class:"btn btn-sm btn-danger", method: :delete  %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price_add_tax %></td>
            <td>
              <%= form_with model:cart_item, url:cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "変更", class:"btn btn-success" %>
              <% end %>
            </td>
            <td><%= (cart_item.item.price_add_tax * cart_item.amount).to_s(:delimited) %></td>
            <td><%= link_to "削除する", cart_item_path(cart_item.id), class:"btn btn-sm btn-danger", method: :delete  %></td>
          </tr>
          <% @sum += cart_item.item.price_add_tax * cart_item.amount %>
          <% end %>
        </tbody>
      </table>
      <table class="table table-bordered">
        <tr>
          <th>合計金額</th>
          <td><%= @sum  %></td>
        </tr>
      </table>
      <%= link_to items_path do %>
        <button type="button" class="btn btn-primary">買い物を続ける</button>
      <% end %>
      <%= link_to new_order_path do %>
        <button type="button" class="btn btn-primary">情報入力に進む</button>
      <% end %>

    </div>
  </div>
</div>