<div class="container px-8 px-sm-12 mx-auto">
  <div class="row">
    <div class="col">
      <h4 class="bg-secondary d-inline px2">注文情報入力</h4>
      <%= form_with model:@order, url:log_path, method: :post, local:true do |f| %>
      <h3>支払方法</h3>
      <%= f.radio_button :payment_method, "credit_card" %>
      <%= f.label :payment_method, "クレジットカード" %>
      <%= f.radio_button :payment_method, "transfer" %>
      <%= f.label :payment_method, "銀行振込" %>
      <h3>お届け先</h3>
      <h5>
        <%= f.radio_button :address_method, "1" %>
        <%= f.label :address_method, "ご自身の住所", value: 1 %>
        <h6>
          <%= current_customer.postal_code %>
          <%= current_customer.address %></br>
          <%= current_customer.first_name %>
          <%= current_customer.last_name %>
        </h6>

      </h5>
      <h5>
        <%= f.radio_button :address_method, "2" %>
        <%= f.label :address_method, "登録済住所から選択", value:2 %>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
      </h5>
      <h5>
        <%= f.radio_button :address_method, "3" %>
        <%= f.label :address_method, "新しいお届け先", value:3 %>
        <div class="form-group">
           <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
           <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
        </div>
        <div class="form-group">
           <%= f.label :address, "住所" %>
           <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
        </div>
        <div class="form-group">
           <%= f.label :name, "宛名" %>
           <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
      </h5>

      <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>