<div class="container px-8 px-sm-12-mx-auto">
  <div class="row">

   <div class="col">
     <h4 class="bg-secondary d-inline p-2">
      ログイン
     </h4>
     <h5 class="bg-secondary d-inline p-2">
      会員の方はこちらからログイン
     </h5>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-6 offset-md-3">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Primary</button>

      <div class="actions">
        <%= f.submit "ログイン",class:"btn btn-success" %>
      </div>
    <% end %>
    <h5 class="bg-secondary d-inline px2">
      会員登録がお済みでない方
    </h5>
    <%= link_to "こちら", new_registration_path %>から新規登録を行なって下さい。
   </div>

  </div>
</div>




