<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'items/genre', genres: @genres %>
    </div>
    <% @items.each do |f| %>
    <div class="col-md-4">
      <%= link_to item_path(@item.id) do %>
       <%= attachment_image_tag @item, :image, :fill, 20, 20, fallback: "no_image.jpg" %>
      <% end %>
      <%= f.item.name %>
      <%= f.item.price %>
    </div>
    <% end %>
  </div>
</main>