<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <%= render 'items/genre', genres: @genres %>
      </div>
      <div class="col-md-2 offset-md-1">
        <%= attachment_image_tag @item, :image, :fill, 20, 20, fallback: "no_image.jpg" %>
      </div>
      <div class="col-md-4 offset-md-1">
        <h2><%= @item.name %></h2>
        <h4><%= @item.introduction %></h4>
        <h3>
          ¥<%= (@item.price * 1.1).floor %>
          <h5>(税込)</h5>
        </h3>
        <%= form_with model:@cart_item, url:cart_items_path, local:true do |f| %>
          <%= f.number_field :amount, min: 1, max: 10 %>
          <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</main>